{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<title>Linda Sonrisa | Servicios | Odontopediatría</title>

<!-- Slider Start -->
<section id="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1>Especialidades</h1>
          <p>En Linda Sonrisa tenemos las mejores tecnologías para tu sonrisa.</p>
          <p>Líderes de especialistas dentales de Chile.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Odontopediatría</h2>
          </div>
          <p>Es la especialidad dedicada al tratamiento dental integral de lactantes, niños, preescolares y
            adolescentes.
            <br>
            Nuestros Odontopediatras, dentistas especialistas en la atención de estos pacientes, poseen conocimientos
            técnicos y herramientas psicológicas
            que les permite hacer vivir al paciente una buena y agradable experiencia, involucrándolos en su cuidado
            dental, ya que de ello depende su salud bucal a largo plazo. </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{% static 'core/img/portfolio/work5.jpg' %}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Solicita Tu Hora</h2>
          {% comment %} <p>Read more about what we do and our philosophy of design. Judge for yourself The work and
            results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          {% endcomment %}
          <a class="btn btn-default btn-call-to-action" href="{% url 'reserva' %}">Reservar Hora</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock contenido %}