
{% load static %}

{% extends 'core/paciente2.html' %}



{% block content %}

###†abla
<div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">RUT</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">APELLIDO PATERNO</th>
      <th scope="col">APELLIDO MATERNO</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
    {% for a in personas %}
                   <tr> 
                       <td>{{a.rut}}</td>
                       <td>{{a.nombre1}}</td>
                       <td>{{a.apellido_pat}}</td>
                       <td>{{a.apellido_mat}}</td>
                       <td><a href="{% url 'eliminar_usuario' a.rut %}">Eliminar</a></td>
                    </tr>

    {%endfor%}
</table>

{% if messages %}
   {% for m in messages%} 
   <div>{{ m }}</div>
   {% endfor%}


{% endif %}
</div>


{% endblock %}








