{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<title>Linda Sonrisa | Quiénes Somos</title>

<!-- Slider Start -->

<section id="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2>QUIÉNES SOMOS</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Wrapper Start -->

<section id="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="block">
					<div class="section-title">
						<h3>Quiénes Somos</h3>
					</div>
					<p>Clínica dental Linda Sonrisa, nace como un proyecto universitario, en una ubicación central y de
						fácil
						acceso para los pacientes; poseemos un enfoque multidisciplinarios, prinicpalmente en la salud y
						estética.
						Creemos en una atención integral a un precio razonable, siendo nuestra prioridad la comodidad
						del paciente.
						Nos enfocamos en una atención preventiva que implica la detección precoz de las distintas
						enfermedades que
						afectan a nuestros pacientes, evitando así tratamientos más complejos e invasivos. Además
						ofrecemos
						rehabilitaciones complejas para pacientes que ya hayan sufrido perdida de sus dientes, para
						poder devolver
						la estética y funcionalidad con estos tratamientos. </p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5 col-sm-12">
				<div class="block">
					<br>
					<br>
					<br>
					<img src="{% static 'core/img/595e4a243f85e50f849da571_Thumbnail-el-rol-empresarial-del-odontologo-09.jpg' %}"
						alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>
<section id="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="block">
					<div class="section-title">
						<h3>Nuestra Misión</h3>
					</div>
					<p>Otorgar salud y estética bucal a precios accesibles con los más altos estándares de calidad,
						tecnología y servicio a través de constante innovación y capacitación de nuestros profesionales,
						mejorando la calidad de vida y autoestima de los pacientes, logrando así ser líderes de la
						industria odontológica en Chile. </p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5 col-sm-12">
				<div class="block">
					<br>
					<img src="{% static 'core/img/clinica-dental-moderna-800x450.jpg' %}" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>
<section id="intro">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-12">
				<div class="block">
					<div class="section-title">
						<h3>Nuestra Filosofía</h3>
					</div>
					<p>En clínica Linda Sonrisa contamos con las últimas tecnologías. Estamos en continuo crecimiento
						y queremos hacerlo gracias a tí. TODOS los pacientes son tratados de manera individualizada,
						realizando una historia clínica exhaustiva para descartar posibles patologías, que puedan
						impedir o retrasar el tratamiento solicitado y disponemos de la más moderna tecnología para
						aplicar nuestros tratamientos. </p>
					<p>Para nosotros tu opinión y tus sugerencias son lo más importante. Nuestros profesionales poseen
						una completa formación y están siempre atentos a las últimas novedades. Nos gusta Linda Sonrisa,
						nos gusta nuestro trabajo y queremos que te guste nuestra clínica.</p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5 col-sm-12">
				<div class="block">
					<br>
					<br>
					<br>
					<br>
					<img src="{% static 'core/img/uniforme-trabajo-clinica-dental.jpg' %}" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					{% comment %} <h2>Stop By For A visit</h2> {% endcomment %}
					<ul class="address-block">
						<li>
							<i class="fa fa-map-marker"></i>Los Carrera #325, Dpto 32, Oficina 5, Viña del Mar
						</li>
						<li>
							<i class="fa fa-envelope-o"></i>Correo: lindasonrisacontacto@gmail.com
						</li>
						<li>
							<i class="fa fa-phone"></i>Teléfono: +56 9 5300 0532
						</li>
						<li>
							<i class="fa fa-clock-o"></i>Lunes a Viernes de 10:00 a 19:00 hrs - Sábado de 10:00 a 13:00
							hrs
						</li>
						<li>
							<i class="fa fa-cc-visa"></i><i class="fa fa-cc-mastercard"></i><i
								class="fa fa-cc-amex"></i><i class="fa fa-cc-paypal"></i>Medios de pago : Tarjeta
							Crédito - Débito - Paypal
						</li>

					</ul>
					<ul class="social-icons">
						  <li>
              <a href="http://www.google.cl"><i class="fa fa-google"></i></a>
            </li>
            <li>
              <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
            </li>

					</ul>

				</div>
			</div>
		</div>
	</div>
</section>

{% endblock contenido %}