{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<!-- Slider Start -->

<title>Linda Sonrisa | Términos</title>

<section id="call-to-action">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2>TÉRMINOS Y CONDICIONES DE DEVOLUCIÓN</h2>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Service Start -->

<section id="service">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>LEY DE DERECHOS Y DEBERES DE LOS PACIENTES</h2>
                <br>
                <h4>El 01 de octubre de 2012 entró en vigencia la Ley de Derechos y Deberes de los
                    Pacientes que establece cuáles son los derechos y deberes de las personas en
                    relación con las acciones vinculadas a su atención de salud.</h4>
                <p>La iniciativa legal resguarda principios básicos de atención en salud, disposiciones
                    que se aplicarán tanto en el sector público como privado.</p>
            </div>
        </div>
        <div class="row ">
            <h4>Las personas tienen derecho a :</h4>
            <h5>• Información clara y oportuna.</h5>
            <h5>• Una atención oportuna.</h5>
            <h5>• Seguridad y protección</h5>
            <h5>• Compañía y asistencia espiritual.</h5>
            <h5>• Un informe médico.</h5>
            <h5>• Un informe financiero.</h5>
            <h5>• Resguardo de su ficha clínica.</h5>
            <h5>• Aceptar o rechazar un tratamiento.</h5>
            <h5>• Aceptar o rechazar ser parte de una investigación científica.</h5>
            <h5>• Respeto a la interculturalidad.</h5>
            <h5>• Inscribir el nacimiento de su hijo en el lugar donde vive la madre o el padre y no sólo en el lugar en
                donde se produjo el parto.</h5>
            <br>
            <h4>La ley también establece deberes de los pacientes tales como :</h4>
            <h5>• Entregar información veraz acerca de su identidad, dirección y enfermedad.</h5>
            <h5>• Cuidar las instalaciones y equipamiento del recinto de salud.</h5>
            <h5>• Tratar respetuosamente al personal de salud.</h5>
            <h5>• Respetar el reglamento interno del establecimiento.</h5>
            <h5>• Informarse acerca de los horarios de funcionamiento, de las modalidades de atención y formas de pago.
            </h5>
            <h5>• Informarse acerca de los procedimientos de reclamos y consultas establecidas.</h5>

            <div class="section-title">
                <h2>TÉRMINOS Y CONDICIONES DE DEVOLUCIÓN</h2>
                <br>
                <h4>Antecedentes Legales.</h4>
                <h5>La Ley 19.496 dispone que el consumidor puede poner término en forma unilateral al contrato, en el
                    plazo de 10 días contados desde la contratación del servicio y antes de la prestación del mismo
                    <strong>(art. 3 bis inc.1º)</strong>.</h5>
                <h5>Tratándose de servicios, la devolución solo comprenderá aquellas sumas abonadas que no correspondan
                    a servicios ya prestados a la fecha del retracto <strong>(art. 3 bis inc.3º)</strong>.</h5>
                <h5>Dado lo anterior, podemos señalar que el consumidor siempre podrá solicitar la devolución en el
                    plazo de 10 días, siempre que el servicio no se hubiere prestado en,</h5>
                <p>• Si el servicio es uno solo o siendo varias sesiones, este puede ser considerado como una unidad, el
                    consumidor no podrá retractarse si el servicio ya comenzó a prestarse no pudiendo dejarse inconcluso
                    el mismo, no teniendo derecho el consumidor a solicitar devolución alguna.</p>
                <p>• Ahora bien, si los servicios son varios y separados, el consumidor podrá retractarse dentro del
                    plazo estipulado de 10 días, sólo de aquellos que no se han prestados, teniendo derecho a solicitar
                    la devolución de aquella parte pagada por esos servicios no prestados.</p>
                <h4>Condiciones de devolución.</h4>
                <h5>Clínica Dental Smile con el compromiso de entregar un servicio dental íntegro y satisfactorio para
                    nuestros pacientes, declara mediante este documento, los términos y condiciones de nuestra Política
                    de Devolución, en conformidad a la ley N°19.496 de
                    protección al consumidor.</h5>
                <h5>Este reglamento es aplicable una vez aceptado y recibido el pago por el presupuesto que la clínica
                    presenta al paciente, por lo tanto:</h5>
                <h5>El Paciente se compromete a cumplir con las citas programadas por la cínica para la atención de
                    salud dental o estética, y solo podrá desistirse de los servicios en la medida que los mismo no se
                    hubieren iniciado y sólo dentro del plazo de 10 días contados desde le fecha de pago del presupuesto
                    dental correspondiente. En consciencia, vencido el plazo indicado o iniciado los servicios,
                    cualquiera de los dos ocurra primero, el paciente
                    podrá desistirse de la atención y la clínica se compromete a realizar devoluciones de dinero, si y
                    solo si:</h5>
                <p>• El paciente presente problemas de salud que impidan continuar con el tratamiento.</p>
                <p>• Cuando haya modificación en presupuesto inicial por cambio de tratamiento y el paciente solicita su
                    excedente.</p>
                <p>• La solicitud de devolución se debe presentar el formulario presentado a continuación, adjuntando
                    los siguientes documentos:</p>
                <p>- Boleta de pago.</p>
                <p>- Certificado médico que avale la imposibilidad de realizar la atención dental o estética en caso que
                    corresponda.</p>
                <h5>Las devoluciones se harán efectivas a los 15 días hábiles, desde la presentación de la solicitud por
                    parte del paciente. El encargado de Servicio al Cliente deberá enviar a Jefe de Finanzas, dentro de
                    las 48 horas la solicitud para su análisis y resolución.</h5>
                <h5>Si correspondiere, el pago se efectuará mediante transferencia electrónica a su cuenta.</h5>
                <h5>Solo en casos muy especiales y que no cuente con una cuenta corriente, o cuenta vista se podrá
                    entregar en clínica el documento (cheque) de la devolución.</h5>
                <p>- Si el pago es con Tarjeta de crédito, se solicitará la anulación de la venta a través de Transbank.
                </p>
                <p>- Para convenios con modalidad “Descuento por Planilla” solo se devolverá lo que la empresa ha pagado
                    por el presupuesto del paciente, descontando lo utilizado cuando corresponda.</p>
                <p>- Quienes no deseen continuar un tratamiento ya pagado, podrán traspasar los montos no utilizados a
                    un tercero previa evaluación de diagnóstico.</p>
                <br>
                <h5><strong>RAZONES NO VALIDAS PARA SOLICITAR DEVOLUCIONES </strong>después del plazo de 10 días
                    establecido por la Ley.</h5>
                <h5>1.- Por que la Competencia es más barata……. Si ya pago e inicio tratamiento no corresponde devolver.
                </h5>
                <h5>2.- Por que argumenta haber quedado sin trabajo.</h5>
                <h5>3.- Porque me trasladaron de trabajo… no corresponde devolver, puede traspasar el dinero pagado a un
                    familiar o a un tercero.</h5>
                <br>
                <h4>FORMULARIO DE DEVOLUCIÓN</h4>
                <p>• El presente formulario se debe presentar para toda solicitud de devolución de dinero.</p>
                <p>• Las devoluciones se realizarán si y solo si:</p>
                <br>
                <p>- El paciente presente problemas de salud que impidan continuar con el tratamiento.</p>
                <p>- Cuando haya modificación en presupuesto inicial por cambio de tratamiento y el paciente solicita su
                    excedente.</p>
                <br>
                <h5>A este formulario se debe adjuntar:</h5>
                <h5>1.-Boleta de pago.</h5>
                <h5>2.-Certificado médico que avale la imposibilidad de realizar la atención dental o estética en caso
                    que corresponda.</h5>
            </div>
        </div>
    </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    {% comment %} <h2>Stop By For A visit</h2> {% endcomment %}
                    <ul class="address-block">
                        <li>
                            <i class="fa fa-map-marker"></i>Los Carrera #325, Dpto 32, Oficina 5, Viña del Mar
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>Correo: lindasonrisacontacto@gmail.com
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>Teléfono: +56 9 5300 0532
                        </li>
                        <li>
                            <i class="fa fa-clock-o"></i>Lunes a Viernes de 10:00 a 19:00 hrs - Sábado de 10:00 a 13:00
                            hrs
                        </li>
                        <li>
                            <i class="fa fa-cc-visa"></i><i class="fa fa-cc-mastercard"></i><i
                                class="fa fa-cc-amex"></i><i class="fa fa-cc-paypal"></i>Medios de pago : Tarjeta
                            Crédito - Débito - Paypal
                        </li>
                    </ul>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}